body {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	min-height:100vh;
}
.topo {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.menu {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	gap:24px;
}
.destaque {
	display:flex;
	justify-content:center;
	align-items:center;
	height:240px;
}
.grade {
	display:flex;
	flex-grow:1;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-start;
	flex-wrap:wrap;
	gap:24px;
	height:480px;
	border:2px solid red;
}
.card {
	flex:1 1 280px;
}
.rodape {
	flex:1 1 0;
	border:2px solid yellow;
}
.fot {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:24px;
	border:2px solid black;
}
.copyright {
	display:flex;
	justify-content:flex-end;
	border:2px solid pink;
	width:1300px;
}
