body {
	display:flex;
	flex-direction:column; /*body tem o eixo principal como column*/
	min-height:100vh;
}				/*A estrutura da pagina deve ser empilhada como em uma coluna ou de cima para baixo, o body faz isso. o topo deve ficar em cima para organizar os filhos dele, a imagem e o menu*/
.topo {
	display:flex;
	flex-direction:row; /*No entanto topo é row*/
	justify-content:space-between;
	align-items:center; /*Se o center for removido a logo vai subir, isso porque a divisoria do logo é um filho do topo diferente das li da ul que são netos*/  
}
.menu {
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:24px;
}
.entrar {
	border:2px solid black;
	border-radius:8px;
	background-color:green;
}
.destaque {
	display:flex;
	justify-content:center;
	align-items:center;
	height:240px;
}
.grade {
	display:flex;
	flex-grow:1;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-start;
	flex-wrap:wrap; /*trocar o wrap por no-wrap impede que o card va para a linha de baixo*/
	gap:24px;
	height:480px;
}
.card {
	flex:1 1 280px; /*Flex: 1 1 280px; e width são comandos similares mas o flex-basis tem prioridade caso o conteudo crescer*/
	border:4px solid black;
	border-radius:12px;
}
.carddestaque {
	flex:1 1 280px;
	border:4px solid black;
	border-radius:12px;
	background-color:green;
}
.rodape {
	display:flex;
}
.fot {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:24px;
}
.copyright {
	flex-grow:1;
	display:flex;
	justify-content:flex-end;
}
